.swiper-button-next,
.swiper-button-prev {
  width: 40px !important;
  height: 40px !important;
  background-color: white !important;
  border: 1px solid #c0c2c5 !important;
  border-radius: 50% !important;
  color:#999a9c;
  top: 45% !important;
  svg{
    width: 12px !important;
    height: 12px !important;
  }
}
.swiper-button-disabled {
  display: none;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 12px;
  font-weight: bold;
  color: #424750;
}