@import "tailwindcss";
@font-face {
  font-family: iran;
  src: url("/fonts/IRANYekanWeb.eot");
  src: url("/fonts/IRANYekanWeb.ttf");
  src: url("/fonts/IRANYekanWeb.woff");
  src: url("/fonts/IRANYekanWeb.woff2");
  font-display: swap;

  unicode-range:
    U+0600-06FF,
    U+0750-077F,
    U+08A0-08FF,
    U+FB50-FDFF,
    U+FE70-FEFF;
}
@font-face {
  font-family: cube;

  src: url("/fonts/cube.ttf");
  src: url("/fonts/cube.woff2");
  src: url("/fonts/cube.eot");
  src: url("/public/fonts/cube.6cd810dd.6cd810dd.woff");
}
@font-face {
  font-family: iranb;
  src: url("../fonts/IRANYekanWeb-Bold.eot");
  src: url("../fonts/IRANYekanWeb-Bold.woff");
  src: url("../fonts/IRANYekanWeb-Bold.ttf");
  src: url("../fonts/IRANYekanWeb-Bold.woff2");

}
@font-face {
  font-family: cube2;
  src: url("/fonts/cube-v8.2.woff");
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
body {
  font-family: iran, sans-serif;
}
