@import "tailwindcss";
@font-face {
  font-family: iran;
  src: url("/fonts/IRANYekanWeb.eot");
  src: url("/fonts/IRANYekanWeb.ttf");
  font-display: swap;

  unicode-range:
    U+0600-06FF,
    U+0750-077F,
    U+08A0-08FF,
    U+FB50-FDFF,
    U+FE70-FEFF;
}
@font-face {
  font-family: cube;

  src: url("/fonts/cube.ttf");
  src: url("/fonts/cube.eot");
  src: url("/fonts/cube.6cd810dd.6cd810dd.woff");
}
@font-face {
  font-family: iranb;
  src: url("../fonts/IRANYekanWeb-Bold.eot");
  src: url("../fonts/IRANYekanWeb-Bold.ttf");
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.no-scrollbar {
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}


body {
  font-family: iran, sans-serif;
  user-select: none;
}

.mega-menu-scroll {
  scrollbar-width: thin;
  scrollbar-color: #c0c2c5 #f1f2f4;
}

.mega-menu-scroll::-webkit-scrollbar {
  width: 8px;
}

.mega-menu-scroll::-webkit-scrollbar-track {
  background: #f1f2f4;
}

.mega-menu-scroll::-webkit-scrollbar-thumb {
  background: #c0c2c5;
  border-radius: 999px;
}
